
/*Adding an external font*/
@font-face {
    src: url("fonts/Berlin Sans FB Regular.ttf");
    font-family: externalFont;
}
body {
    font-family: Arial,externalFont,sans-serif;
    background-color: #FFFFFF;
}
h1 {
    font-family: externalFont;
    font-size: 80px;
}
@media only screen and (max-width: 480px){
    .navbar{
        flex-flow: column wrap;
        padding:0;
    }
}
/*Desktop view*/
/*Navigation Bar*/
html{
    box-sizing:border-box;
}
main{
    margin-top:40px;
}
.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    top: 0;
    position: fixed;
    background-color: #000000;
}
    .list a {
        display: flex;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
.list li a:hover {
    background-color: #2699FB;
}
/* mouse over link */
.SportList a:hover {
    color: hotpink;
}

/* selected link */
.SportList a:active {
    color: blue;
}

/*
.navbar ul {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    top: 0;
    width:  100%;
    position: fixed;
}

.navbar li {
   margin-left:auto;
   margin-right:auto;
   margin:0;

}
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    }

.navbar li a:hover {
    background-color: #111;
    
}
    */

/*Contact Page*/
input[type=text], input[type=email] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:#F5F5F5;
}

form{
    background-color: #AAAAAA;
}
.Mainpic{
    float:left;
    align-items:center;
    height:50%;
    width:50%
}
textarea{
    height:200px;
    width:100%;
    background-color:#F5F5F5;
}

.sportPic{
    height:200px;
    width:200px;
}
#contactcontent{
    margin-top:400px;
}

#secondarycontent, #maincontent {
    display: flex;
    margin: 100px;
    padding: 0px;
    flex-direction: column;
    background-color: #444444;
    font-family: Arial;
    font-size: 25px;
}

#referelContent{
    background-color: #707070;
    font-size: 15px;
}

/*Background video*/
.vidhead {
   
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
video{
    position:absolute;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.vidhead h1{
   height:100px;
   align-items:center;
   text-align:center;
    position:relative;
    z-index: 2;
    color:white;

}

.vidhead h2 {
    height: 100px;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    color: white;
}
aside {
    margin: 10px;
    width: 300px;
    position: relative;
    float: right;
    right: 5%;
}








    

